<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <main class="container">
      <div class="d-flex flex-column justify-content-center">
        <h1 class="text-center mb-md-3 text-success text-uppercase futura">
          404
        </h1>
        <p class="lead text-center">
          Someone from On The Road Lending will be reaching out shortly.
        </p>
      </div>
    </main>
  </body>
</html>
