<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <!-- Loading Modal -->
    <div
      class="modal fade"
      id="loadingModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="loadingModalTitle"
      aria-hidden="true"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5
              class="modal-title align-items-center d-flex justify-content-center text-secondary"
              id="loadingModalTitle"
            >
              <span class="spinner-border text-primary mr-3" role="status">
                <span class="sr-only">Loading...</span>
              </span>

              Saving your information
            </h5>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/header %>
    <main class="container">
      <div class="row justify-content-center">
        <h1
          class="h2 text-center text-uppercase mb-md-3 futura otrl-color--blue"
        >
          complete your application
        </h1>
        <div class="col-md-10 col-lg-8">
          <p class="lead text-center">
            You're almost there! We just need your financial information to
            process your application. Please Quick Share your information with
            us, or upload your 3 most recent bank statements.
          </p>
        </div>
      </div>

      <div class="row py-4">
        <div class="col-12 col-md-5">
          <div class="card">
            <div
              class="card-header d-flex justify-content-center align-items-center"
            >
              <h2 class="h4 mb-0">Quick Share</h2>
            </div>
            <div class="card-body">
              <div class="card-text mb-3">
                Connect and share your bank account information with
                OnTheRoadLending.
              </div>
              <div class="card-text">
                We keep your data safe and secure
              </div>
              <div
                class="d-flex justify-content-center align-items-center pt-3"
              >
                <button
                  id="link-btn"
                  type="button"
                  class="btn btn-primary btn-lg"
                >
                  Link Account
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex col-12 col-md-2 justify-content-center align-items-center py-4"
        >
          <p class="h4 text-uppercase mb-0">or</p>
        </div>
        <div class="col-12 col-md-5">
          <div class="card" style="min-height: 100%">
            <div
              class="card-header d-flex justify-content-center align-items-center"
            >
              <h3 class="h4 mb-0">Document Upload</h3>
            </div>
            <form
              id="uploadManualBlock"
              class="card-body d-flex flex-column"
              action="/upload"
              enctype="multipart/form-data"
              method="post"
            >
              <label for="uploadDocumentControl" class="card-text mb-auto">
                Please upload your 3 most recent bank statements
              </label>
              <input
                type="file"
                class="form-control-file"
                id="uploadDocumentControl"
              />
              <input
                type="hidden"
                name="salesforceToken"
                value="<%= salesforceToken %>"
              />
              <button type="submit" class="btn btn-outline-primary btn-lg mt-3">
                Upload PDF
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
      ($ => {
        const toggleModal = show => $('#loadingModal').modal({ show });
        const redirect = success =>
          window.location.replace(success ? '/link_success' : '/link_failure');
        const postAjax = async (url, data) => {
          return new Promise((resolve, reject) => {
            $.post(url, data)
              .done(resolve)
              .fail(reject);
          });
        };
        const getAjax = async url => {
          return new Promise((resolve, reject) => {
            $.get(url)
              .done(resolve)
              .fail(reject);
          });
        };
        const products = '<%= PLAID_PRODUCTS %>'.split(',');
        const handler = Plaid.create({
          apiVersion: 'v2',
          clientName: 'On The Road Lending',
          env: '<%= PLAID_ENV %>',
          product: products,
          key: '<%= PLAID_PUBLIC_KEY %>',
          countryCodes: '<%= PLAID_COUNTRY_CODES %>'.split(','),
          onSuccess: async public_token => {
            try {
              toggleModal(true);
              console.debug('Sending data to Salesforce.');
              const assetsResult = await postAjax(`/assets/data`, {
                publicToken: public_token,
                salesforceToken: '<%= salesforceToken %>',
              });
              console.debug(assetsResult);
              if (assetsResult.error) {
                console.error('Unexpected error.');
                redirect();
              } else {
                console.error(
                  'Plaid data was successfully pushed to Salesforce.'
                );
                redirect(true);
              }
            } catch (e) {
              console.error(e);
              console.error('Unexpected error.');
              redirect();
            }
          },
          onExit: (err, metadata) => {
            if (err) {
              console.error(err);
              console.error('Unexpected error.');
              redirect();
            } else {
              console.debug('You must finish Plaid auth process.');
            }
          },
        });
        $('#link-btn').on('click', function(e) {
          handler.open();
        });
      })(jQuery);
    </script>
  </body>
</html>
