<header class="container py-5">
  <div class="row justify-content-center">
    <img
      src="/static/img/logo.png"
      alt="On The Road Lending"
      style="max-height: 120px"
    />
  </div>
</header>
